* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,body {
  margin: 0;
}

body {
    background-image: url(assets/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 1.3rem;
}

.landingtext {
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

.landingtext ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.landingtext li {
  float: left;
}

.landingtext li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 150%;
  padding: 2px;
  margin: 2px;
  text-decoration: none;
}

.landingtext li a:hover {
  background-color: #1a1a1a;
}

h1,h2 {
    margin: 0;
}

.navbar {
    position: fixed;
    right: 0%;
    background-color: #010103;
    border-radius: 0 0 0 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
  float: right;
}

.navbar ul li h3 {
    margin: 0;
}

.navbar ul li a {
user-select: none;
cursor: pointer;
display: block;
color: white;
text-align: center;
text-decoration: none;
margin: .25em;
padding: .5em;
border: 1px solid transparent;
border-radius: 1rem;
transition: all 250ms ease-in-out;
}

.navbar ul li a:hover {
border: 1px solid #262626;
background-color: #262626;
}


.solid {
  background-color: white;
  color: black;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.solid p {
    margin: 0;
}

.page h4 {
  margin: 0;
}

.page ul {
  margin: 2rem;
}

.pageHeader {
  margin: 2rem;
  margin-bottom: 0;
}

.pageList {
  display: flex;
  margin: 2rem;
}

.pageListHeader {
  display: flex;
}

.pageList2 {
  display: flex;
  direction: ltr;
  margin: 1rem;
}

.pageText {
  flex: 1;
}

.pageText p {
  margin-top: 0;
}

.pplImageContainer {
  margin: 5%;
  margin-top: 0;
}

.pplImage {
  box-shadow: 0 5px 10px white;
}

.aboutImage {
  border-radius: 50%;
  box-shadow: 0 5px 10px black;
}

.contactContainer {
  display: flex;
}

.contactContainer .solid {
  flex: 1;
}

.contactPage {
  margin: 2rem;
}

.contactForm {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.formControl {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.formSubmit {
  background: grey;
  border-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  width: 60%;
  margin-top: 1rem;
}

.formSubmit:hover {
  background-color: darkgray;
  cursor: pointer;
}

.question {
  margin-bottom: 1rem;
}

.contactInfoContainer {
  background-color: #404040;
}

.contactInfo {
  margin: 1rem;
}

.contactInfo h4 {
  margin-bottom: 0;
}

.contactInfo p {
  margin-top: 0;
}