* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar { /** WebKit */
  display: none;
}

html,body {
  margin: 0;
}

body {
    background-image: url(assets/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.landingtext {
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

.landingtext ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.landingtext li {
  float: left;
}

.landingtext li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 150%;
  padding: 2px;
  margin: 2px;
  text-decoration: none;
}

.landingtext li a:hover {
  background-color: #1a1a1a;
}

h1,h2 {
    margin: 0;
}

.navbar {
    position: fixed;
    right: 1%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
  float: right;
}

.navbar ul li h3 {
    margin: 0;
}

.navbar ul li a {
user-select: none;
cursor: pointer;
display: block;
color: white;
text-align: center;
text-decoration: none;
margin: .5em;
padding: .5em;
border: 1px solid transparent;
border-radius: 1rem;
transition: all 250ms ease-in-out;
}

.navbar ul li a:hover {
border: 1px solid red;
}


.solid {
  background-color: white;
  color: black;
  margin: 0;
}

.solid p {
    margin: 0;
}